body{
    box-sizing: border-box;
    background: rgb(216, 211, 211);

}
.main{
    border-radius: 10px;
    display: flex;
    flex-wrap: nowrap;
    background-color: white;
}
li{
    border-radius: 20px;
    padding: 5px;
    border: 2px solid gray;
    list-style: none;
    margin: 20px;
}
li:hover{
    cursor: pointer;
    background-color: rgb(197, 232, 235);
}
.icon2{
    margin-top: 300px;
    /* justify-content: end; */
       /* margin-bottom: 0px; */
}
#notification{
    background-color: rgb(243, 131, 87);
}
#notification:hover{
    background-color: rgb(236, 59, 46);
}
.icn{
    /* background-color: honeydew; */
    border-radius: 20px;
    text-align: center;
}
input{
    margin-left: 20px;
    border-radius: 5px;
    outline: none;
    border: none;
    background-color: transparent;
    height: 60px;
    width: auto;
    font-size: 30px;
    color: wheat;
}
::placeholder {
    color:rgb(214, 198, 168);
    opacity: 1; /* Firefox */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:rgb(214, 198, 168)red;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
   color: rgb(214, 198, 168);
  }
.middle{
    height: 710px;
    margin: 10px;
    padding: 35px 50px 50px 50px;
    background-color: rgb(94, 94, 209);
    border-radius: 15px;
}
.heading{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}
.heading h2{
    align-self: center;
    color: white;
}
.heading svg{
    margin-right: 40px;
    justify-content: space-around;
    padding: 20px;
}
/* .imgs img{
    height: 500px;
    width: 950px;
} */
.last{
    background-color: rgb(100, 150, 214);
    margin: 10px 0px 0px 0px ;
    border-radius: 10px;
    padding: 30px;
}
.last svg:hover{
    background-color: rgb(107, 194, 194);
}
.last-col{
    margin-top: 20px;
}
.last-col img{
    border-radius: 20px;
    background-color: rgb(109, 174, 235);
    height: 80px;
    width: 80px;
    padding:10px;
}
.last-col img:hover{
    background-color: rgb(107, 194, 194);
}
.info{
    margin-top: 35px;
}
.info svg ,.citys svg .last-col img, .citys svg{
    background-color: rgb(109, 174, 235);
    border-radius: 20px;
}
svg{
    margin: 5px;
    height: 60px;
    width: 60px;
    padding: 15px;
}
.citys{
    margin-top: 20px;
}
@media (max-width: 1000px) {
    .main{
        display: block;
        padding: 0px;
        margin: 0px;
    }
    .icn{
        /* margin-top: 20px; */
        display: flex;
    }
    .icon2{
        margin-top: 0px;
    }
    .icons,.icon2{
        display: flex;
        /* flex-direction: row; */
        flex-wrap: wrap;
    }
    .middle{
        margin:0px;
    }
}